.mb-5 {
  margin-bottom: 5px;
}
.widthcustom {
  width: 79px;
}
.font-sizecustom {
  font-size: 12px;
}
.ml {
  margin-left: 5px;
}
.ml-percent {
  margin-left: 20%;
}
.mr-10 {
  margin-right: 20px;
}
