<section class="content-header">
  <h1>
    Data Tables
    <small>manager</small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <a href="#"><i class="fa fa-dashboard"></i> Home</a>
    </li>
    <li><a href="#">Tables</a></li>
    <li class="active">Data</li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <!-- /.box -->

      <div class="box">
        <div class="box-header">
          <h3 class="box-title">PRODUCT'S TABLE</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table id="example1" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Promotion Price</th>
                <th>Warranty</th>
                <th>Image</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of products; let i = index">
                <td class="sorting_1">{{ i + 1 }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price | currency }}</td>
                <td>{{ product.promotionPrice | currency }}</td>
                <td>{{ product.warranty }}</td>
                <td><img class="imgbook" src="{{ product.image }}" /></td>
                <td [ngSwitch]="product.status">
                  <div *ngSwitchCase="true">
                    <label class="label label-success">Active</label>
                  </div>
                  <div *ngSwitchCase="false">
                    <label class="label label-danger">Block</label>
                  </div>
                  <div *ngSwitchDefault>Active</div>
                </td>
                <td>
                  <button
                    type="button"
                    (click)="onSelect(product.id)"
                    class="btn btn-success fa fa-edit"
                  >
                    Edit
                  </button>
                  <button
                    type="button"
                    (click)="onRemove(product.id, product.name)"
                    class="btn btn-danger ml fa fa-inbox"
                  >
                    Remove
                  </button>
                  <button
                    type="button"
                    routerLink="add"
                    class="btn btn-primary ml fa fa-barcode"
                  >
                    Add
                  </button>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Promotion Price</th>
                <th>Warranty</th>
                <th>Image</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->
